<header class="mdl-layout__header mdl-color--dark-gray header navbar">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
      <a href="/">
        <img src="/static/assets/svg/mail.svg" alt="Strawberry Mail Logo" width="46px">
      </a>
      <b>Strawberry Mail</b>
    </span>

    <div class="mdl-layout-spacer"></div>

    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <button class="mdl-navigation__link button-nocolor nav-btn--email">
        {{ user_mail }}
      </button>
    </nav>

  </div>
</header>