<div class="sidebar">
  <center>
    <a href="/webmail/write" class="mdl-button mdl-js-button btn--draft-new-mail">
      <span class="material-symbols-outlined btn--draft-new-mail--icon">draw</span>
      <p>{{ strings.load("write") }}</p>
    </a>

    <div class="sidebar--spacer"></div>

    <a onclick="changeTab('inbox'); toggleActive(this)" class="mdl-button mdl-js-button sidebar--button sidebar--button-active" id="inbox-btn">
      <span class="material-symbols-outlined sidebar--button--icon">inbox</span>
      <p>{{ strings.load("inbox") }}</p>
    </a>
    <a onclick="changeTab('drafts'); toggleActive(this)" class="mdl-button mdl-js-button sidebar--button" id="drafts-btn">
      <span class="material-symbols-outlined sidebar--button--icon">drafts</span>
      <p>{{ strings.load("drafts") }}</p>
    </a>
    <a onclick="changeTab('sent'); toggleActive(this)" class="mdl-button mdl-js-button sidebar--button" id="sent-btn">
      <span class="material-symbols-outlined sidebar--button--icon">send</span>
      <p>{{ strings.load("sent") }}</p>
    </a>
    <a onclick="changeTab('marked'); toggleActive(this)" class="mdl-button mdl-js-button sidebar--button" id="marked-btn">
      <span class="material-symbols-outlined sidebar--button--icon">label</span>
      <p>{{ strings.load("marked") }}</p>
    </a>
    <a onclick="changeTab('trash'); toggleActive(this)" class="mdl-button mdl-js-button sidebar--button" id="trash-btn">
      <span class="material-symbols-outlined sidebar--button--icon">delete</span>
      <p>{{ strings.load("trash") }}</p>
    </a>
  </center>
</div>  

<script src="/static/js/webmail_tab.js"></script>
