{% extends "base/base.html" %}

{% block content %}
<div class="webmail-main-content">
  <hr>
  <div class="sidebar">
    <center>
      <a href="/webmail/write" class="mdl-button mdl-js-button btn--draft-new-mail">
        <span class="material-symbols-outlined btn--draft-new-mail--icon">draw</span>
        <p>{{ strings.load("write") }}</p>
      </a>

      <div class="sidebar--spacer"></div>

      <a onclick="changeTab('inbox'); toggleActive(this)" class="mdl-button mdl-js-button sidebar--button sidebar--button-active" id="inbox-btn">
        <span class="material-symbols-outlined sidebar--button--icon">inbox</span>
        <p>{{ strings.load("inbox") }}</p>
      </a>
      <a onclick="changeTab('drafts'); toggleActive(this)" class="mdl-button mdl-js-button sidebar--button" id="drafts-btn">
        <span class="material-symbols-outlined sidebar--button--icon">drafts</span>
        <p>{{ strings.load("drafts") }}</p>
      </a>
      <a onclick="changeTab('sent'); toggleActive(this)" class="mdl-button mdl-js-button sidebar--button" id="sent-btn">
        <span class="material-symbols-outlined sidebar--button--icon">send</span>
        <p>{{ strings.load("sent") }}</p>
      </a>
      <a onclick="changeTab('marked'); toggleActive(this)" class="mdl-button mdl-js-button sidebar--button" id="marked-btn">
        <span class="material-symbols-outlined sidebar--button--icon">label</span>
        <p>{{ strings.load("marked") }}</p>
      </a>
      <a onclick="changeTab('trash'); toggleActive(this)" class="mdl-button mdl-js-button sidebar--button" id="trash-btn">
        <span class="material-symbols-outlined sidebar--button--icon">delete</span>
        <p>{{ strings.load("trash") }}</p>
      </a>
    </center>
  </div>  

  <div class="webmail-content">
    <div id="inbox" class="tab-content active-tab">
      <div class="webmail-content--header">
        <h2>{{ strings.load("inbox") }}</h2>
        <hr>
      </div>

      <div class="webmail-content--inner">
        {% for email in emails %}
          <div class="email-list-container">
            <hr>

            <div class="mail-container--checkbox">
              <label class="mail-container--checkbox-container">
                <input type="checkbox" id="checkbox-mail-{{ email.id }}">
                <span class="mail-container--checkbox-checkmark"></span>
              </label>
            </div>

            <div class="mail-container--mail-content" onclick="redirectToMailView('{{ email.id }}')">
              <div class="mail-container--sender">
                <strong>{{ email.sender_name }}</strong>
                <span>..... {{ email.subject }}</span>
                <span class="mail-container--date">{{ email.date }}</span>
              </div>
              <br>
            </div>

            
          </div>
        {% endfor %}
        <hr>
      </div>

    </div>
  
    <div id="sent" class="tab-content">
      <h2>Sent</h2>
      <p>Content for sent tab</p>
    </div>
  
    <div id="drafts" class="tab-content">
      <h2>Drafts</h2>
      <p>Content for drafts tab</p>
    </div>

    <div id="marked" class="tab-content">
      <h2>Marked</h2>
      <p>Content for marked tab</p>
    </div>

    <div id="trash" class="tab-content">
      <h2>Trash</h2>
      <p>Content for trash tab</p>
    </div>
  </div>
</div>

<script src="/static/js/webmail_tab.js"></script>


{% endblock content %}